.year-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.year-modal-content {
    position: absolute;
    background: white;
    margin: 0 0 0 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 3;
}

.year-list {
    list-style: none;
    padding: 0;
    margin: 18px 0 0 0;
    max-height: 400px;
    overflow-y: auto;
}

.year-item {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #536B7A;
}

.year-modal-title {
    color: #78849EB9;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}